*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:black
}

h1 {
    color:aliceblue;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
     }
 p{
    color:aliceblue;
    font-family: 'Comfortaa', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
 }

        .header{
        background-color: black;
        height: 100px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        }   
        #headerimg{
            width: 100px;
            display:block;
            padding-right: 10px;
            margin: 0;
        }

        .bouton {
            width: 150px;
        }
        .bouton:hover{
            transform: scale(120%);
        }
        .boite2{
            display: flex;
            flex-direction:row-reverse;
            width: 1650px;
            margin-top: -58px;
            margin-bottom: 75px;
        }
        #Acheter:hover{
            transform: scale(120%);
        }
        .title {
        font-size: 72px;
        text-align: center;
        color: aliceblue;
        font-family: 'Comfortaa', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Quicksand', sans-serif;
        }



        .Body{
            background-color:black;
            height: 400px;
            width: 75%;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 60px;
        }
        .texte{
            width: 800px;
            font-size:larger;
            display: block;
            margin-right:auto;
            margin-top: 15px;
            text-align: center;
        }
            #Jeton{
                width: 500px;
                display: block;
                margin-left: auto;
                margin-top: -250px;
            }

        .Body2{
            background-color:black;
            height: 700px;
            width: 75%;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 60px;
        }
        .texte2{
            width: 800px;
            font-size:larger;
            display: block;
            margin-left:auto;
            margin-top: 15px;
            text-align: center;
        }
        #Tel{
            width: 650px;
            display: block;
            margin-right: auto;
            margin-top: -650px;
        }


        .container{
            margin-top:10px;
            padding: auto;
            display: flex;
            gap: auto;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
           }
            .Yt{
               display: flex;
              align-items: center;
           }
               .Yt{
                   width: 150px;
               }
                   .Yt:hover{
                       transform: scale(120%);
                   }
   
            .Apple{
               display: flex;
            }
               .Apple {
               width: 150px;
               }
                   .Apple:hover{
                   transform: scale(120%);
                   }  
                   .facebook{
                       display: flex;
                    }
                       .facebook {
                       width: 150px;
                       }
                           .facebook:hover{
                           transform: scale(120%);
                           } 